*{
  margin: 0;
  position: relative;
  z-index: 0;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  position:relative;
}
.testest{
  z-index: 0;
}

.footer-container{
  position: relative; /* Ou 'absolute', selon votre mise en page */
  z-index: 1;
}

.panier-container{
  position: fixed; /* ou 'sticky' */
  z-index: 2;
}
